* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(./images/backgroundimg.png);
    background-size: cover;
    background-position: center;
}

.logo {
    height: 104px;
    width: 206px;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    position: relative;
}

nav ul li a:after {
    content: '';
    width: 0%;
    height: 3px;
    background: #FF1338;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.lis a:hover:after {
    width: 100%;
}

.header-text {
    margin-top: 15%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 50px;
    margin-top: 20px;

}

.header-text h1 span {
    color: #FF1338;
}


/* ************************** */

#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row img {
    box-shadow: 5px 5px 110px #b55454, -10px -10px 20px #2f1d1d;
    width: 88%;
    border-radius: 20px;

}

.about-col-1 {
    width: 319px;
    margin: auto;
}

.about-col-2 {
    flex-basis: 60%;
}

/* .about-col-2 {
    width: 60%;
} */
#active {
    color: #FF1338;
}

.subtitle {
    font-size: 45px;
    font-weight: 550;
    color: #fff;
}

.subtitle span {
    color: #FF1338;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
    position: relative;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0px;
    height: 3px;
    background: #FF1338;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}


.tab-links.active-link::after {
    width: 50%;
}

.tab-contants ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contants ul li span {
    color: #b54769;
    font-size: 14px;
}

.tab-contants {
    display: none;
}

.tab-contants.active-tab {
    display: block;
}

#Skills ul,
#Education ul {
    display: flex;
}

.right {
    margin-left: 80px;
}

.first {
    width: 150px;
}

.second {}

.third {
    margin-left: 10px;
}

:root {
    scroll-behavior: smooth;
}



::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgb(206, 206, 206);
}

::-webkit-scrollbar-thumb {
    background-color: #FF1338;
    /* border-bottom-left-radius: 10px;
    border-top-left-radius: 20px; */

}

/* ******************************* */

#Skills {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div i h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    cursor: pointer;
    background: #ff004f;
    transform: translateY(-10px);
}

#portfolio {
    padding: 50px 0;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 5px;
}


.layer a {
    margin-top: 1px;
    color: #ff004f;
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    background-color: #fff;
    width: 30px;
    height: -30px;
    border-radius: 50%;
    text-align: center;
}

.project:hover img {
    transform: scale(1.1);
}

.project:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 31px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}


/* ******************* */
.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    align-items: center;
    display: flex;
    margin-top: 30px;
}

.contact-left p i {
    color: #ababab;
    margin-right: 15px;
    font-size: 25px;
}

.contact-left p:hover i {
    color: #ff004f;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2 {
    text-align: center;
    color: white;
    width: 171px;
    display: inline-block;
    background: transparent;
}

.btn:hover {
    background: #ff004f;

}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background-color: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}




.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: -15px;
    z-index: 99999;
    /* background-color: white; */
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: all 0.4s;
}

.scroll-top i {
    font-size: 24px;
    color: #ababab;
    line-height: 0;
}

.scroll-top i:hover {
    color: #ff004f;
}


.scroll-top.active {
    visibility: visible;
    opacity: 1;
    bottom: 15px;
}

.contact-left a {
    text-decoration: none;
    color: #ababab;
}

#msg,
#msg2 {
    margin-top: -20px;
    display: block;
}

#msg {
    color: #61b752;
}

#msg2 {
    color: #b75252;
}



.intro {
    color: #262626;
    cursor: none;
    border-color: #262626;
    background-color: #07ff66;
}


/* ********************************** */

@media only screen and (max-width:600px) {

    .header-text {
        margin-top: 35%;
        width: 100%;
        font-size: 22px;
    }

    .header-text h1 {
        font-size: 40px;
    }

    nav {
        justify-content: center;
    }

    .about-col-2 {
        width: 100%;
    }

    .right {
        margin-left: 0px;
    }

    .tab-links {
        margin-right: 30px;
    }

    .project-list {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }

    .layer {
        padding: 0;
    }

    .contact-right {
        flex-basis: 100%;
    }



    .logo {
        height: 83px;
        width: 150px;
    }
}

.skill1 {
    line-height: 2;
}